/* Cambiar el nombre de la clase para evitar conflictos */
.footer-admin {
    background-color: #1a1a1a; /* Gris oscuro */
    color: #e0e0e0; /* Texto gris claro */
    padding: 1.5rem 0;
    height: 15vh;
    text-align: center;
    border-top: 1px solid #424242; /* Borde gris más claro */
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-admin__content {
    width: 100%;
    max-width: 1200px;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-admin__text {
    margin: 0;
    font-size: 0.9rem;
    line-height: 1.6;
    color: #bdbdbd; /* Gris medio */
}

.footer-admin__copyright {
    margin: 0.5rem 0 0;
    font-size: 0.8rem;
    color: #9e9e9e; /* Gris más claro */
  }
